<footer>
    <div class="footer-div">
        <div class="about">
            <h5>About the program</h5>
            <ul>
                <li>Code of conduct</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="connect">
            <h5>Connect</h5>
            <p>Contact us</p>
            <ul>
                <li>X</li>
                <li>In</li>
                <li>YT</li>
                <li>Ins</li>
            </ul>
        </div>
    </div>
    
    <p style="text-align: center;">&#64;indabaxGabon All Rights Reserved</p>
</footer>