.nav-tabs .nav-link {
    cursor: pointer;
  }
  
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .nav-tabs .nav-link {
    cursor: pointer;
    color: white !important; /* Makes text white when not active */
    border: none;
  }
  
  .nav-tabs .nav-link:hover {
    background-color: #5a6268; /* Slightly darker on hover */
  }
  
  .nav-tabs .nav-link.active {
    background-color: white; /* Blue when active */
    color: #5a6268 !important;
    font-weight: bold;
  }
  