.nav-tabs .nav-link {
    cursor: pointer;
  }
  
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  