body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image-container {
    position: relative;
    background-image: url('/assets/imggabon.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust based on the desired height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .overlay p {
    font-size: 1.5rem;
  }
  

.section {
    scroll-margin-top: 80px; /* Offset for fixed navbar */
  }
  
  

  .countdown-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .countdown-timer {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .countdown-box {
    background: #007bff;
    color: white;
    /* padding: 5px; */
    border-radius: 8px;
    text-align: center;
    /* max-width: 80px; */
  }

  .countdown-number {
    font-size: .5rem;
    font-weight: bold;
  }

  .countdown-label {
    font-size: 0.5rem;
  }

  .border {
    border: 0.2rem solid #2973B2 ;
  }

  .color-box {
    color: #2973B2;
  }